.navbar {
    margin-bottom: 3rem;
    text-align: center;
}

.progress-bar {
    color: black;
  font-weight: 500;
}

#onb-nav-title {
    font-size: 1.7rem;
}

.progress {
    width: 10rem;
    height: 1.3rem;
  }