.navbar {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  

}


#onb-nav-title {
    font-size: 1.7rem;
}

.footer {
  height:4em;
  }

