.navbar-container {
  /* background-color: yellow; */
}


.navbar {
    margin-bottom: 3rem;
    text-align: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}


.progress-bar {
    color: black;
  font-weight: 500;
}

#onb-nav-title {
    font-size: 1.7rem;
}

.progress {
    width: 10rem;
    height: 1.3rem;
    font-size: 0.6em;
  }

.footer {
  height:4em;
  }

