.component-container{
  border-style: solid;
  border-radius: 1em;
  border-color: grey;
  margin:1em;
  padding:2em;
  padding-top:1em;
  width:fit-content;
  
}

.navbar{
  width:100%;
}

li {
  list-style: none;
}

img {
  height:4em; 
}

.row {
  margin:5em;
}