

.component-container{
  border-style: solid;
  border-radius: 1em;
  border-color: grey;
  margin:1em;
  padding:2em;
  padding-top:1em;
  width:fit-content;
  
}

.navbar{
  width:100%;
}

li {
  list-style: none;
}

img {
  height:4em; 
}


.margin {
  margin:5em;
}

.db-food-item {
  padding-left:1em;
}

.db-food-item:hover {
  background-color: #C8DDFE;
  cursor:pointer;
}

.row {
  margin:5em;
}

.modal-header {
  background-color: #5985B8;
  color:#f9f9f9;
}
/* BUTTONS
 */
.btn-primary {
  background-color: #5985B8;
  border-color: #5985B8;
}

.btn-primary:hover {
background-color: #376497;
}

.btn-success {
  background-color: #9bc89f;
  border-color: #9bc89f;
  color:#0d0d0d
  
}

.btn-success:hover {
  background-color: #69a46e;
  border-color: #69a46e;
  color:#0d0d0d

  
}

.max-width {
  width: 100%;

}

.margin-top {
  margin-top:1.5em;
}

.btn-height {
  height:4em;
}

.btn-secondary {
  background-color: #F4A261;
  border-color: #F4A261;
}

.btn-secondary:hover {
  background-color: #cb7c3c;
}

.container-card {
  padding:1em 3em;
  opacity: 0.9;
}

.container-card-big {
  /* padding:1em 2em; */
  opacity: 0.9;
}

.container-card-buttons {
  padding:1em 2em;
  opacity: 0.9;

}

.chart-card {
  padding:2em;
  opacity:1;
}

.charts-title {
  font-size:1.6em;
  text-decoration: solid;
  text-align: center;
  padding-bottom: .4em;
}

.diary-title {
  font-size:3em;
  text-decoration: solid;
  text-align: center;
  padding-bottom: .4em;
  background-color:#D6DFC2;
  
  color:#0d0d0d;
  /* text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black; */
}

h1 {
  margin:0
}



.table-title{
  background-color:#D6DFC2;
  border-radius:5px;
  color:#0d0d0d;
  padding-left:0.3em;
  padding-right:0.3em;
  padding-top:0.1em;
  padding-bottom:0.1em;
  width:fit-content 100%;

}

