#root {
  font-family: 'Albert Sans', sans-serif;
}

.component-container{
  border-style: solid;
  border-radius: 1em;
  border-color: grey;
  margin:1em;
  padding:2em;
  padding-top:1em;
  width:fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

.navbar{
  width:100%;
}

li {
  list-style: none;
}

img {
  height:4em; 
}


.margin {
  margin:5em;
}

.db-food-item {
  padding-left:1em;
}

.db-food-item:hover {
  background-color: #C8DDFE;
  cursor:pointer;
}

.row {
  margin:5em;
}

.btn-padding {
  font-size:2em;
  margin-bottom:1em;
}

.modal-header {
  background-color: #5985B8;
  color:#f9f9f9;
}

.orange {
  background-color: #f4A261;
  opacity:0.8;
}
/* BUTTONS
 */
.btn-primary {
  background-color: #5985B8;
  border-color: #5985B8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-primary:hover {
background-color: #376497;
}

.btn-success {
  background-color: #69a46e;
  border-color: #69a46e;
  color:#f9f9f9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

.btn-success:hover {
  background-color: #559e5b;
  border-color: #559e5b;
  color:#f9f9f9;

  
}

.max-width {
  width: 100%;

}

.margin-top {
  margin-top:1.5em;
}

.btn-height {
  height:4em;
}

.btn-secondary {
  background-color: #F4A261;
  border-color: #F4A261;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-secondary:hover {
  background-color: #ff933a;
  border-color: #ff933a;
}

.container-card {
  padding:1em 3em;
  opacity: 0.9;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.container-card-big {
  /* padding:1em 2em; */
  opacity: 0.9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container-card-buttons {
  padding:1em 2em;
  opacity: 0.9;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */

}

.chart-card {
  padding:2em;
  opacity:1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.charts-title {
  font-weight:700;
  font-size:1.6em;
  text-decoration: solid;
  text-align: center;
  padding-bottom: .4em;
}

.diary-title {
  font-size:xx-large;
  text-decoration: solid;
  text-align: center;
  padding: 1em;
  font-family: 'Albert Sans', sans-serif;
  background-color:#69a46e;
  
  color:#f9f9f9;
  /* text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black; */
}

h1 {
  margin:0
}



.table-title{
  background-color:#69a46e;
  border-radius:5px;
  color:#f9f9f9;
  padding-left:0.3em;
  padding-right:0.3em;
  padding-top:0.1em;
  padding-bottom:0.1em;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.title-width {
  width:100%;
  text-align:center;
  background-color:#5985B8;
}

.btn-fit-content {
  width:fit-content;
}

.btn-close {
  color:#f9f9f9;
}

a {
  color:#0d0d0d
}

.green {
  background-color:#69a46e;
  color:#f9f9f9
}

.blue {
  background-color:#5985B8;
  color:#f9f9f9
}

.orangew {
  background-color:#F4A261;
  color:#f9f9f9
}

.yellow {
  background-color: #e9c46a;

}

.red {
  background-color: rgba(231, 111, 81);
  
}

.redw {
  background-color: rgba(231, 111, 81);
  color:#f9f9f9
}

.progreen {
  background-color: rgba(42, 157, 143);

}


